@font-face {
    font-family: 'Unbounded';
    src:
        local('Unbounded'),
        url('../../public/fonts/Unbounded-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'IBM-Plex-Mono';
    src:
        local('IBM-Plex-Mono'),
        url('../../public/fonts/IBMPlexMono-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBM-Plex-Mono';
    src:
        local('IBM-Plex-Mono'),
        url('../../public/fonts/IBMPlexMono-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'IBM-Plex-Mono';
    src:
        local('IBM-Plex-Mono'),
        url('../../public/fonts/IBMPlexMono-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'IBM-Plex-Mono';
    src:
        local('IBM-Plex-Mono'),
        url('../../public/fonts/IBMPlexMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Unbounded', sans-serif;
}

body, button, input{
    font-family: 'IBM-Plex-Mono', monospace;
}

::selection{
    background-color: black;
    color: white;
}

.input{
    position: relative;
    padding: 5px;
    border: 2px solid black;
}

.button{
    position: relative;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}

.button::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 5px;
    background-color: black;
}

.button:hover:after{
    left: 2px;
    top: 2px;
}

.button:active{
    left: 2px;
    top: 2px;
}