.h1{
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 10vh;
    line-height: 10vh;
}

.input, .button{
    font-size: 3vh;
    line-height: 3vh;
}

.form{
    z-index: 2;
    position: relative;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.input{
    margin-bottom: 0.3em;
}
