.h1{
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}

.form{
    z-index: 2;
    position: relative;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.input{
    border: 2px solid black;
    padding: 5px;
    position: relative;
}

.button{
    position: relative;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}

.button::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 5px;
    background-color: black;
}

.button:hover:after{
    left: 2px;
    top: 2px;
}

.button:active{
    left: 2px;
    top: 2px;
}